.userPagePostsBlock {
	background: linear-gradient(120deg, #fff6f9 60%, var(--contrast-color));
	border-radius: 8px;
	box-shadow: 0 3px 3px -3px #a9a9a9;
	height: 150px;
	position: relative;
	width: 500px;
}

.userPagePostsBlock  {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px 8px;
	padding-bottom: 0;
}

.userPagePostsBlock_main {
	display: flex;
	justify-content: space-between;

}

.userPagePostsBlock_avatar {
	background-color: var(--contrast-color);
	border-radius: 100px;
	height: 70px;
	width: 70px;
}

.userPagePostsBlock_avatar > div {
	border-radius: 100px;
}

.userPagePostsBlock_content {
	margin-left: 50px;
	flex: 1;
}

.userPagePostsBlock_content span {
	color: lightgray;
	font-size: 12px;
	margin-right: 12px;
}

.userPagePostsBlock_content p {
	font-size: 14px;
}

.userPagePostsBlock_footer {
	background: white;
	border-top-left-radius: 20px;
	box-shadow: 0 10px 0 0 #ffffff;
	bottom: -1px;
	display: flex;
	height: 40px;
	justify-content: flex-end;
	position: relative;
	right: -453px;
	width: fit-content;
}

.userPagePostsBlock_footer::after {
    position: absolute;
    content: "";
    top: -16px;
    right: 1px;
    background: transparent;
    width: 14px;
    height: 1rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem white;
}

.userPagePostsBlock_footer::before {  
	position: absolute;
	content: "";
	bottom: -1px;
	left: -14px;
	background: transparent;
	width: 14px;
	height: 22px;
	border-bottom-right-radius: 1.25rem;
	box-shadow: 0.313rem 0.313rem 0 0.313rem rgb(255, 255, 255);
}

.userPagePostsBlock_deleteCta {
	all: unset;
	align-items: center;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;
}