.userPagePostsBlock {
	background-color: var(--primary-color);
	border-radius: 8px;
	box-shadow: 0 3px 3px -3px #a9a9a9;
	height: 150px;
	position: relative;
	width: 500px;
}

.userPagePostsBlock > div {
	border-radius: 8px;
	display: flex;
	height: 100%;
	padding: 6px 8px;
	position: absolute;
	width: 100%;
}

.userPagePostsBlock_avatar {
	background-color: var(--contrast-color);
	border-radius: 100px;
	height: 70px;
	width: 70px;
}

.userPagePostsBlock_avatar > div {
	border-radius: 100px;
}
.userPagePostsBlock_content span {
	color: lightgray;
	font-size: 12px;
	margin-right: 12px;
}

.userPagePostsBlock_content p {
	font-size: 14px;
}