.cardWrapper {
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 100px;  
    display: flex;
    box-sizing: border-box;
    height: 80px;
    justify-content: center;
    padding: 16px;
    width: 80px;
}

.cardWrapper:hover {  
    box-shadow: 0px 2px 2px 0 #dcd7f3, 0px 2px 3px 2px #ffe0eb, 2px 3px 3px 3px #ffeff5;
    transition: 0.5s;
}

.cardWrapper h3 {
    color: black;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}