.uiLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.uiLinkDefault {
    background-color: lightgrey;
    border-radius: 4px;
    padding: 4px;
}

.uiLinkDefault:hover {
    background-color: rgb(164, 164, 164);
}

.uiLinkSecondary {
    background-color: transparent;
}
