.uiLink {
    color: black;
    cursor: pointer;
    font-size: 13px;
    min-height: 40px;
    text-decoration: none;
}

.uiLinkDefault {
    background-color: lightgrey;
    border-radius: 4px;
    padding: 6px 8px;
}

.uiLinkDefault:hover {
    background-color: #c7c7c7;
    transition: 0.5s;
}

.uiLinkSecondary {
    background-color: transparent;
}
