.profileHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.profile h3 {
    color: lightgrey;
    font-size: 12px;
    font-weight: 400;
}

.profileDescription div {
    display: flex;
}

.profileDescriptionInput {
    display: flex;
    align-items: flex-end;
}

.profileDescription textarea {
    height: 100px;
    width: 500px;
}

.profile button {
    cursor: pointer;
    margin: 20px 0;
}

.profileSettingsBlock {
    border-bottom: 2px solid rgb(240, 240, 240);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* margin: 20px 0; */
    padding: 20px  0;
}

.profileSettingsBlock label {
    margin: 5px 0;
}

.profileSettingsBlock input {
    margin-left: 10px;
}

/* .profilePopinBox {
    position: absolute;
} */