.uiLink {
	align-items: center;
	color: black;
	cursor: pointer;
	display: flex;
	font-size: 13px;
	text-decoration: none;
	width: fit-content;
}

.uiLink_icon {
	margin-left: 8px;
}

.uiLinkDefault {
    background-color: var(--contrast-color);
    border-radius: 4px;
    padding: 6px 8px;
}

.uiLinkDefault:hover {
    filter: brightness(0.9) ;
    transition: 0.7s;
}

.uiLinkSecondary {
    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 8px;
    padding: 6px 8px;
}

.uiLinkSecondary:hover {
    background: var(--primary-color);
    border: 2px solid transparent;
    color: var(--secondary-color);
    transition: 0.2s
}

.uiLinkHeader {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.uiLinkHeader:hover {
    box-shadow: 0px 1.5px 3px rgb(231, 231, 231);
    transition: 0.2s;
}

.uiLinkTransparent {
	background-color: transparent;    
	padding: 6px 8px;
}
